NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require"

# Google Authentication
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"

# JWT Authentication
JWT_ACCESS_SECRET="USE_A_LONG_RANDOM_SECRET"
JWT_REFRESH_SECRET="USE_A_DIFFERENT_LONG_RANDOM_SECRET"
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

# Redis / OTP
REDIS_USER=default
REDIS_PASSWORD="YOUR_REDIS_PASSWORD"
REDIS_HOST="YOUR_REDIS_HOST"
REDIS_PORT=13635

# Email
SMTP_PASSWORD="YOUR_GOOGLE_APP_PASSWORD"
SMTP_USER="your-email@gmail.com"
EMAIL_SENDER="your-email@gmail.com"

# bKash Sandbox
BKASH_USERNAME="YOUR_BKASH_USERNAME"
BKASH_PASSWORD="YOUR_BKASH_PASSWORD"
BKASH_APP_KEY="YOUR_BKASH_APP_KEY"
BKASH_APP_SECRET="YOUR_BKASH_APP_SECRET"

TESTER_ADMIN_NAME=
TESTER_ADMIN_EMAIL=
TESTER_ADMIN_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=